﻿@model EsCodeChallenge.ViewModels.Home.HomeIndexModel

<div class="page-header">
    <h1>Software Products <small>by version</small></h1>
</div>

@Html.Partial("_Search", Model.Search)

@Html.Partial("_SoftwareList", Model.Software)