﻿
@model EsCodeChallenge.ViewModels.SearchModel
<div class="well">
    <form role="form" method="post" action="@Url.Action("Search", "Home")">
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.VersionSearchStr, "Version Search")
            @Html.TextBoxFor(x => x.VersionSearchStr, new { @class = "form-control", placeholder = "Enter version number here", maxlength = 10})
            <p class="help-block">ex: “2”, “1.5”, or “2.12.4”</p>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>