﻿@model ICollection<EsCodeChallenge.ViewModels.Software>
<div class="panel panel-default">
    <div class="panel-body">
        @if (Model.Count > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var software in Model)
                    {
                        <tr>
                            <td>@software.Name</td>
                            <td>@software.Version.ToString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        } else
        {
            <strong>No results</strong>
        }
    </div>
</div>
